# Configurations
auto-install-peers=true
shamefully-hoist=true
enable-pre-post-scripts=true
node-linker=hoisted
minimum-release-age=0

# Default registry where look for packages
registry=https://registry.npmjs.org/
